*:focus {
  outline: none; }

.error-span {
  color: #F82044 !important; }

.invalid {
  background-color: rgba(248, 32, 68, 0.05) !important;
  border: 1px solid #F93D5B !important; }

.success-span {
  color: #4BCA81 !important;}
  
.valid {
  background-color: rgba(32, 248, 122, 0.05) !important;
  border: 1px solid rgb(78, 212, 136) !important; }
