body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  background-image: linear-gradient(#21b994, #1c9e7f); }

.logo {
  min-width: 100vw;
  padding: 7.5vh 0vh 5vh 15vh; }

.SignInUpContainer {
  height: 100vh;
  background-image: linear-gradient(#21b994, #1c9e7f); }

.SignInUpContainer form {
  height: auto;
  width: 32.5vw;
  display: flex;
  margin: 0 auto;
  border-radius: 5px;
  padding: 30px 70px 45px 70px;
  flex-direction: column;
  justify-content: center;
  background: #36393F; }

.SignInUpContainer form .Heading {
  margin: 0 0 10px 0;
  color: #F1F1F1;
  font-size: 32px;
  font-weight: 100;
  text-align: center;
  letter-spacing: -1.5px; }

.SignInUpContainer form .Heading-SignIn {
  margin: 0 0 5px 0;
  color: #F1F1F1;
  font-size: 32px;
  font-weight: 100;
  text-align: center;
  letter-spacing: -1.5px; }

.SignInUpContainer form .OfferLink {
  margin: 0 0 10px 0;
  color: #F1F1F1;
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  letter-spacing: -0.5px; }

.SignInUpContainer form .OfferLink a {
  color: #21b994;
  text-decoration: none; }

.SignInUpContainer form label {
  opacity: 0.7;
  color: #F1F1F1;
  font-size: 12px;
  font-weight: 600;
  margin: 0 0 5px 0;
  letter-spacing: -0.5px;
  text-transform: uppercase; }

.SignInUpContainer form input {
  height: 40px;
  color: #F1F1F1;
  margin: 0 0 18px 0;
  border-radius: 2.5px;
  background: #303339;
  font-size: 16px;
  padding: 0 15px 0 15px;
  border: 1px solid #16181B; }

.SignInUpContainer form input:focus {
  transition: 0.8s;
  border: 1px solid #21B994; }

.SignInUpContainer form .MarginFree {
  margin: 0 0 5px 0; }

.SignInUpContainer form .ForgotPass {
  color: #21b994;
  font-size: 14px;
  font-weight: 800;
  margin: 0 0 18px 0;
  letter-spacing: -0.5px;
  text-decoration: none; }

.SignInUpContainer form .FormFooter {
  display: flex;
  flex-direction: column; }

.SignInUpContainer form .FormFooter .SignUpLink {
  margin: 0;
  color: #F1F1F1;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: -0.5px; }

.SignInUpContainer form .FormFooter .SignUpLink a {
  color: #21b994;
  text-decoration: none; }

.SignInUpContainer form .FormFooter button {
  height: 50px;
  color: #F1F1F1;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  background: #21B994;
  border-radius: 2.5px;
  border: 1px solid #1c9e7f;
  margin: 10px 0px 8px 0px; }

.SignInUpContainer form .FormFooter a {
  color: #F1F1F1;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: -0.5px;
  text-decoration: none; }
