.comment-section {
  margin: 2em 2.5em 0em 2.5em; }

.comment-section .user-comment {
  margin: 2em 0 2em 0;
  width: fit-content;
  background-color: #F1F1F1;
  border-radius: 0.5em;
  padding: 2em 2.5em 2em 2.5em; }

.comment-section .user-comment .user-comment-info {
  display: flex;
  align-items: center; }

.comment-section .user-comment .user-comment-info .user-info {
  display: flex;
  flex-direction: column; }

.comment-section .user-comment .user-comment-info .user-info img {
  height: 30px;
  margin: 0 1em 0 0;
  border-radius: 50%; }

.comment-section .user-comment .user-comment-info .user-info a {
  color: #21B994;
  font-weight: bold;
  font-size: 1.3em;
  padding: 0 2em 0 0;
  text-decoration: none; }

.comment-section .user-comment .user-comment-info .user-info a:hover {
  text-decoration: underline; }

.comment-section .user-comment .user-comment-info .user-info p {
  margin: 1em 0 0 0;
  font-weight: normal;
  font-size: 1.3em;
  color: #5C5C5C; }

.comment-section .user-comment .user-comment-info .user-info p {
  color: #5C5C5C;
  font-size: 1.3em; }

.comment-section .comment-post {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.5em 2.5em 2em 2.5em;
  background-color: #F1F1F1; }

.comment-section .comment-post form {
  width: 85%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 1em 0 0 0; }

.comment-section .comment-post form img {
  height: 30px;
  border-radius: 50%;
  margin: 0 2.5em 0 0; }

.comment-section .comment-post form textarea {
  border: 0;
  width: 100%;
  padding: 1em;
  font-size: 1.2em;
  border-radius: 0.5em;
  resize: none;
  max-height: 200px;
  overflow-x: hidden; }
