.comment-section {
  margin: 2em 2.5em 0em 2.5em; }

.comment-section .user-comment {
  min-width: 65%;
  margin: 2em 0 2em 0;
  width: fit-content;
  background-color: #F1F1F1;
  border-radius: 0.5em;
  padding: 2em 2.5em 2em 2.5em; }

.comment-section .user-comment p {
  margin: 1em 0 0 0;
  color: #5C5C5C;
  font-size: 1.3em;
  word-break: break-word; }

.comment-section .user-comment .user-comment-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.comment-section .user-comment .user-comment-info .user-info {
  display: flex;
  align-items: center;
  flex-direction: row; }

.comment-section .user-comment .user-comment-info .user-info .comment-content {
  display: flex;
  flex-direction: row; }

.comment-section .user-comment .user-comment-info .user-info .comment-content img {
  height: 30px;
  margin: 0 1em 0 0;
  border-radius: 50%; }

.comment-section .user-comment .user-comment-info .user-info .comment-content div {
  display: flex;
  flex-direction: column; }

.comment-section .user-comment .user-comment-info .user-info .comment-content div a {
  margin: auto 0;
  font-weight: normal;
  font-size: 1.6em;
  color: #21B994;
  margin-bottom: 0;
  font-weight: 900;
  text-decoration: none; }

.comment-section .user-comment .user-comment-info span {
  font-weight: 900;
  color: #3D3D3D;
  opacity: 0.5; }

.comment-section .comment-post {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2em 2.5em 2em 2.5em;
  background-color: #F1F1F1; }

.comment-section .comment-post form {
  width: 100%;
  display: flex;
  margin: 2em 0 0 0;
  align-items: center; }

.comment-section .comment-post form img {
  height: 30px;
  border-radius: 50%;
  margin: 0 2em 0 0; }

.comment-section .comment-post form textarea {
  border: 0;
  width: 100%;
  padding: 1em;
  font-size: 1.2em;
  border-radius: 0.5em;
  resize: none;
  max-height: 200px;
  overflow-x: hidden; }
