.profile {
  display: flex;
  min-width: 33.333%;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end; }

.profile img {
  width: 35px;
  margin-right: 1em;
  border-radius: 50%; }

.profile #username {
  color: #F1F1F1;
  font-size: 1.8em;
  font-weight: bold; }

.profile .profile-menu-container i {
  color: #F1F1F1;
  cursor: pointer;
  font-size: 1.8em;
  margin-left: 0.5em; }

.profile .profile-menu-container .profile-menu {
  top: 65px;
  right: 0px;
  width: 17%;
  margin: 0px;
  padding: 0px;
  position: absolute;
  list-style-type: none;
  background: #1C9E7F;
  border-radius: 0px 0px 0px 5px; }

.profile .profile-menu-container .profile-menu li {
  height: 3.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F1F1F1;
  cursor: pointer;
  font-size: 1.6em; }

.profile .profile-menu-container .profile-menu li:hover {
  opacity: 0.5; }

.slideToggle-enter {
  opacity: 0;
  height: 0px; }

.slideToggle-enter.slideToggle-enter-active {
  opacity: 1;
  height: 169px;
  transition: all 0.2s ease-in; }

.slideToggle-leave {
  opacity: 1;
  height: 169px;
  transition: all 0.2s ease-out; }

.slideToggle-leave.slideToggle-leave-active {
  opacity: 0;
  height: 0px;
  transition: all 0.2s ease-out; }
